target/classes/welcome.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.2"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="welcomeFlow1" doc:name="welcomeFlow1">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="welcome" doc:name="HTTP"/>
        <set-payload value="Vishal welcome to IBS, Good Morning !!!" doc:name="Set Payload"/>
        <logger message="The value is : #[payload]" level="INFO" doc:name="Logger"/>
        <component class="com.vishal.StringChange" doc:name="Java"/>
        <logger message="The return value is : #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
